```html
<!DOCTYPE html>
<html>
<head>
    <title>Air Quality ML Project</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Air Quality Analysis</h1>
    <p>EDA, Visualization and Data Preprocessing</p>
</header>

<div class="container">

    <div class="cards">

        <a href="/dataset" class="card">
            <h2>1. Dataset</h2>
            <p>Read and explore the dataset.</p>
        </a>

        <a href="/eda" class="card">
            <h2>2. EDA</h2>
            <p>Analyze missing values and statistics.</p>
        </a>

        <a href="/visualization" class="card">
            <h2>3. Visualization</h2>
            <p>View graphs and charts.</p>
        </a>

        <a href="/preprocessing" class="card">
            <h2>4. Preprocessing</h2>
            <p>Clean, encode and scale the data.</p>
        </a>

    </div>

</div>

</body>
</html>
```
